{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >
    <title>
        {% block title %}
            RK Ops
        {% endblock %}
    </title>
    <link
        rel="stylesheet"
        href="{% static 'operations/css/operations.css' %}"
    >
    {% block extra_css %}
    {% endblock %}
</head>
<body class="onboarding-body">
    {% if messages %}
        <div class="onboarding-messages">
            {% for message in messages %}
                <div
                    class="
                        onboarding-message
                        onboarding-message-{{ message.tags }}
                    "
                >
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <main class="onboarding-content">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>